<p id="notice"><%= notice %></p>

<h1>Hotelmenus</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotelmenus.each do |hotelmenu| %>
      <tr>
        <td><%= hotelmenu.name %></td>
        <td><%= link_to 'Show', hotelmenu %></td>
        <td><%= link_to 'Edit', edit_hotelmenu_path(hotelmenu) %></td>
        <td><%= link_to 'Destroy', hotelmenu, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hotelmenu', new_hotelmenu_path %>
